[
{

    "enabled" : "1",
    "lookupCode" : "Role_ProcessingStatus",
    "value" : "PENDING_AUTHORIZATION",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "Role_ProcessingStatus",
    "value" : "PENDING_AUTHORIZATION",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "FILE_TYPE",
    "value" : "MANDATE",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "MANDATE",
    "valueOne" : "Import Bulk Mandate",
    "valueTwo" : "zip",
    "valueThree" : "ORG/DDAMaster",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{
    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "ORG",
    "valueOne" : "Import Originator Debit Payment",
    "valueTwo" : "txt",
    "valueThree" : "ORG/DD5ORG",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "ACH_TR",
    "valueOne" : "TReDS presentment file upload",
    "valueTwo" : "txt",
    "valueThree" : "ORG/ORG_TR",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "MBK_CNCL",
    "valueOne" : "Bulk Cancel Mandate",
    "valueTwo" : "zip",
    "valueThree" : "IMPORT/CANCEL_MANDETE",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "MBK_AMND",
    "valueOne" : "Bulk Amend Mandate",
    "valueTwo" : "zip",
    "valueThree" : "IMPORT/AMEND_MANDETE",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "ORGCR",
    "valueOne" : "Import Originator Credit Payment",
    "valueTwo" : "txt",
    "valueThree" : "ORG/ACHCR",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "DELETE_IFSC",
    "valueOne" : "Delete IFSC Code Upload",
    "valueTwo" : "csv",
    "valueThree" : "IMPORT/BRANCHCODE",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "MBKLEG",
    "valueOne" : "Legacy Mandate Upload",
    "valueTwo" : "csv",
    "valueThree" : "IMPORT/LEG_MANDATE",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "ORGDRRPN",
    "valueOne" : "Import ORGDR Re-presentment",
    "valueTwo" : "csv",
    "valueThree" : "IMPORT",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "ORGDR10",
    "valueOne" : "Import ORGDR Payment",
    "valueTwo" : "csv",
    "valueThree" : "IMPORT",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "CLARPN",
    "valueOne" : "Import CLA Re-presentment",
    "valueTwo" : "csv",
    "valueThree" : "ORG/CLA",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "CLA10",
    "valueOne" : "Import CLA Payment",
    "valueTwo" : "csv",
    "valueThree" : "ORG/CLA",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "APBCR",
    "valueOne" : "Import APBCR Payment",
    "valueTwo" : "csv",
    "valueThree" : "ORG/APBCR",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "IMPORT_TYPE",
    "value" : "EMBK",
    "valueOne" : "Import Bulk E-Mandate",
    "valueTwo" : "zip",
    "valueThree" : "ORG/DDAMaster",
    "valueFour" : "10",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "PROCESSINGSTATUS",
    "value" : "PENDING_AUTHORIZATION",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "PROCESSINGSTATUS",
    "value" : "AUTHORIZED",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "PROCESSINGSTATUS",
    "value" : "REJECTED",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "ROLE_TXNTYPE",
    "value" : "UPDATE_USER",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},

{

    "enabled" : "1",
    "lookupCode" : "ROLE_TXNTYPE",
    "value" : "CREATE_ROLE",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},

{

    "enabled" : "1",
    "lookupCode" : "ROLE_TXNTYPE",
    "value" : "UPDATE_ROLE",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},

{

    "enabled" : "1",
    "lookupCode" : "ROLE_TXNTYPE",
    "value" : "CREATE_MANDATE",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},

{

    "enabled" : "1",
    "lookupCode" : "ROLE_TXNTYPE",
    "value" : "AMEND_MANDATE",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},

{

    "enabled" : "1",
    "lookupCode" : "ACTIVATIONSTATUS",
    "value" : "ACTIVE",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},

{

    "enabled" : "1",
    "lookupCode" : "ACTIVATIONSTATUS",
    "value" : "IN-ACTIVE",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},

{

    "enabled" : "1",
    "lookupCode" : "ROLE_ROLETYPE",
    "value" : "CHECKER",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},

{

    "enabled" : "1",
    "lookupCode" : "ROLE_ROLETYPE",
    "value" : "MAKER",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},

{

    "enabled" : "1",
    "lookupCode" : "MANDATES_TYPE",
    "value" : "ACH",
    "valueOne" : "PaperMandate",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},

{

    "enabled" : "1",
    "lookupCode" : "MANDATES_TYPE",
    "value" : "ESIGN",
    "valueOne" : "EMandate",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},

{

    "enabled" : "1",
    "lookupCode" : "QUEUES_STATUS",
    "value" : "Exception",
    "valueOne" : "ERR-300",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "QUEUES_STATUS",
    "value" : "Pending Authorization",
    "valueOne" : "PSA-300",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDATES_STATUS",
    "value" : "Active",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDATES_STATUS",
    "value" : "Cancelled",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "PAYMENT_TYPE",
    "value" : "ACH DR",
    "valueOne" : "",
    "valueTwo" : "",
    "valueThree" : "",
    "valueFour" : "",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDATE_TYPE",
    "value" : "PaperMandate",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDATE_TYPE",
    "value" : "EMandate",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDATES_STATUS",
    "value" : "Active",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDATES_STATUS",
    "value" : "Cancelled",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDATES_STATUS",
    "value" : "Expired",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDATES_STATUS",
    "value" : "InActive",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDATES_STATUS",
    "value" : "Amended",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "ERR-300",
    "valueOne" : "Exception",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "PSA-300",
    "valueOne" : "Pending Authorization",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "REJ-300",
    "valueOne" : "Rejected By Authorizer",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "PFG-300",
    "valueOne" : "Pending Send",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "PVR-300",
    "valueOne" : "Deleted",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "Presented to Bank",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "Rejected by Bank",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "Presented to Clearing House",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "Rejected by Clearing House",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "Send to Destination bank",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "Accepted",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "MANDDATE_QUEUES_STATUS",
    "value" : "Rejected",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "PAYMENT_TYPE",
    "value" : "ACH_DR",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "PAYMENT_TYPE",
    "value" : "ACH_CR",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "PAYMENT_QUEUES_STATUS",
    "value" : "Exception",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "PAYMENT_QUEUES_STATUS",
    "value" : "Presented",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "PAYMENT_QUEUES_STATUS",
    "value" : "Settled",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "PAYMENT_QUEUES_STATUS",
    "value" : "Returned",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "PAYMENT_QUEUES_STATUS",
    "value" : "Bank Extension",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : "NumberInt(0)",
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

    "enabled" : "1",
    "lookupCode" : "ROLE_TXNTYPE",
    "value" : "UPDATE_USER",
    "createdBy" : "SYSTEM",
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "tenantId" : "$tenantId",
    "__v" : 0,
    "wfInstanceId" : "work",
    "wfInstanceStatus" : "work"
},
{

   "enabled" : "true",
   "lookupCode" : "FILE_UPLOAD_CONSOLE",
   "value" : "USER_IMPORT",
   "valueOne" : "User File Upload",
   "valueTwo" : "csv",
   "valueThree" : "/home/user/SANDSTORM/UPLOAD/USER",
   "valueFour" : "10",
   "createdBy" : "SYSTEM",
   "createdDate" : "$date",
   "lastUpdatedDate" : "$date",
   "tenantId" : "$tenantId",
   "wfInstanceId" : "work",
   "wfInstanceStatus" : "work"
}
]
