 [
  {
  "enableFlag": "true",
  "tenantId": "$tenantId",
  "currencyCode": "INR",
  "currencyName": "Indian Rupee",
  "decimalDigit": "2",
  "delimiter": "12",
  "createdBy": "SYSTEM",
  "updatedBy": "SYSTEM",
  "createdDate": "$date",
  "lastUpdatedDate": "$date",
  "objVersion": 1289,
  "currencyLocale": "local",
  "processingStatus": "AUTHORIZED",
  "wfInstanceId" : ""
 
}]
