 [
  {
  "enableFlag": "true",
  "tenantId": "$tenantId",
  "zoneCode": "IST",
  "zoneName": "ASIA",
  "offsetValue": "+05.30",
  "createdBy": "SYSTEM",
  "updatedBy": "SYSTEM",
  "createdDate": "$date",
  "lastUpdatedDate": "$date",
  "offSet": "UTC+05:30",
  "objVersion": 1234,
  "processingStatus": "AUTHORIZED",
  "wfInstanceId" : ""
 
}]
