 [
  {
    "menuItems" : [ 
        {
            "menuItemType" : "menu",
            "applicationCode" : "FLUX_CDA",
            "menuItemCode" : "bulkupload",
            "title" : "Bulk Upload",
            "icon" : "",
            "link" : "/bulkupload",
            "menuItemOrder" : 0,
            "subMenuItems" : []
        }, 
        {
            "menuItemType" : "menu",
            "applicationCode" : "FLUX_CDA",
            "menuItemCode" : "mandate",
            "title" : "Nach Mandates",
            "icon" : "",
            "link" : "/mandate",
            "menuItemOrder" : 2,
            "subMenuItems" : []
        }, 
        {
            "menuItemType" : "menu",
            "applicationCode" : "FLUX_CDA",
            "menuItemCode" : "emandate",
            "title" : "Emandates",
            "icon" : "",
            "link" : "",
            "menuItemOrder" : 4,
            "subMenuItems" : []
        }, 
        {
            "menuItemType" : "menu",
            "applicationCode" : "FLUX_CDA",
            "menuItemCode" : "outwardpayment",
            "title" : "Outward Payments",
            "icon" : "",
            "link" : "",
            "menuItemOrder" : 4,
            "subMenuItems" : []
        }, 
        {
            "menuItemType" : "menu",
            "applicationCode" : "FLUX_CDA",
            "menuItemCode" : "enquiry",
            "title" : "Enquiry",
            "icon" : "",
            "link" : "/enquiry",
            "menuItemOrder" : 4,
            "subMenuItems" : []
        }, 
        {
            "menuItemType" : "menu",
            "applicationCode" : "FLUX_CDA",
            "menuItemCode" : "dashboard",
            "title" : "Dashboard",
            "icon" : "",
            "link" : "/dashboard",
            "menuItemOrder" : 4,
            "subMenuItems" : []
        }, 
        {
            "menuItemType" : "menu",
            "applicationCode" : "FLUX_CDA",
            "menuItemCode" : "reports",
            "title" : "Reports",
            "icon" : "",
            "link" : "/reports",
            "menuItemOrder" : 4,
            "subMenuItems" : []
        }, 
        {
            "menuItemType" : "menu",
            "applicationCode" : "FLUX_CDA",
            "menuItemCode" : "filesummary",
            "title" : "File Summary",
            "icon" : "",
            "link" : "/filesummary",
            "menuItemOrder" : 4,
            "subMenuItems" : []
        }, 
        {
            "menuItemType" : "menu",
            "applicationCode" : "FLUX_CDA",
            "menuItemCode" : "captureEmandate",
            "title" : "Capture Emandate",
            "icon" : "",
            "link" : "/captureEmandate",
            "menuItemOrder" : 4,
            "subMenuItems" : []
        }
    ],
    "deletedFlag" : 0,
    "menuGroupCode" : "matmenugroup",
    "title" : "MainMenu",
    "applicationCode" : "FLUX_CDA",
    "tenantId" : "$tenantId",
    "createdBy" : "SYSTEM",
    "menuGroupOrder" : 1,
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "wfInstanceId" : "dsgsgs",
    "wfInstanceStatus" : "AUTHORIZED"
},
  {
    "menuItems" : [ 
        {
            "menuItemType" : "menu",
            "applicationCode" : "FLUX_CDA",
            "menuItemCode" : "enquiry1",
            "title" : "File Enquiry",
            "icon" : "assets/images/Artboard 2.svg",
            "link" : "/enquiry",
            "menuItemOrder" : 0,
            "subMenuItems" : []
        }, 
        {
            "menuItemType" : "submenu",
            "applicationCode" : "FLUX_CDA",
            "menuItemCode" : "filesummary",
            "title" : "File Summary",
            "icon" : "assets/images/file-summary.svg",
            "link" : "",
            "menuItemOrder" : 1,
            "subMenuItems" : [ 
                {
                    "menuItemType" : "submenu",
                    "applicationCode" : "FLUX_CDA",
                    "menuItemCode" : "mandateuploadgrid",
                    "title" : "Mandate File Summary",
                    "icon" : "",
                    "link" : "/mandateuploadgrid",
                    "menuItemOrder" : 0
                }, 
                {
                    "menuItemType" : "submenu",
                    "applicationCode" : "FLUX_CDA",
                    "menuItemCode" : "paymentuploadgrid",
                    "title" : "Payment File Summary",
                    "icon" : "",
                    "link" : "/paymentuploadgrid",
                    "menuItemOrder" : 1
                }
            ]
        }
    ],
    "deletedFlag" : 0,
    "menuGroupCode" : "bulkmenugroup",
    "title" : "BulkUploadMenu",
    "applicationCode" : "FLUX_CDA",
    "tenantId" : "$tenantId",
    "createdBy" : "SYSTEM",
    "menuGroupOrder" : 2,
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "wfInstanceId" : "fesff",
    "wfInstanceStatus" : "AUTHORIZED"
},
{
    "menuItems" : [ 
        {
            "menuItemType" : "menu",
            "applicationCode" : "SANDSTORM",
            "menuItemCode" : "roleManagement",
            "title" : "Role Management",
            "menuItemOrder" : 1,
            "link" : "roleManagement",
            "icon" : "evo-role",
            "selectedFlag" : false,
            "subMenuItems" : [ 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "approve-role",
                    "title" : "Approve",
                    "menuItemOrder" : 1,
                    "link" : "approve",
                    "icon" : "evo-approve",
                    "selectedFlag" : false
                }, 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "updateRole",
                    "title" : "Modify",
                    "menuItemOrder" : 1,
                    "link" : "updateRole",
                    "icon" : "evo-role",
                    "selectedFlag" : false
                }, 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "reprocess-role",
                    "title" : "Reprocess",
                    "menuItemOrder" : 2,
                    "link" : "reprocess",
                    "icon" : "evo-reprocess",
                    "selectedFlag" : false
                }, 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "reject-role",
                    "title" : "Reject",
                    "menuItemOrder" : 3,
                    "link" : "reject",
                    "icon" : "evo-reject",
                    "selectedFlag" : false
                }
            ]
        }, 
        {
            "menuItemType" : "menu",
            "applicationCode" : "SANDSTORM",
            "menuItemCode" : "entityManagement",
            "title" : "Entity Management",
            "menuItemOrder" : 2,
            "link" : "entityManagement",
            "icon" : "evo-entity",
            "subMenuItems" : [ 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "approve-entity",
                    "title" : "Approve",
                    "menuItemOrder" : 1,
                    "link" : "approve",
                    "icon" : "evo-approve",
                    "selectedFlag" : false
                }, 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "updateEntity",
                    "title" : "Modify",
                    "menuItemOrder" : 1,
                    "link" : "updateEntity",
                    "icon" : "evo-entity",
                    "selectedFlag" : false
                }, 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "reprocess-entity",
                    "title" : "Reprocess",
                    "menuItemOrder" : 2,
                    "link" : "reprocessEntity",
                    "icon" : "evo-reprocess",
                    "selectedFlag" : false
                }, 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "reject-entity",
                    "title" : "Reject",
                    "menuItemOrder" : 3,
                    "link" : "reject",
                    "icon" : "evo-reject",
                    "selectedFlag" : false
                }
            ]
        }, 
        {
            "menuItemType" : "menu",
            "applicationCode" : "SANDSTORM",
            "menuItemCode" : "userManagement",
            "title" : "User Management",
            "menuItemOrder" : 2,
            "link" : "userManagement",
            "icon" : "evo-user",
            "selectedFlag" : false,
            "subMenuItems" : [ 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "approve-user",
                    "title" : "Approve",
                    "menuItemOrder" : 1,
                    "link" : "approve",
                    "icon" : "evo-approve",
                    "selectedFlag" : false
                }, 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "updateUser",
                    "title" : "Modify",
                    "menuItemOrder" : 1,
                    "link" : "updateUser",
                    "icon" : "evo-user",
                    "selectedFlag" : false
                }, 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "reprocess-user",
                    "title" : "Reprocess",
                    "menuItemOrder" : 2,
                    "link" : "reprocess",
                    "icon" : "evo-reprocess",
                    "selectedFlag" : false
                }, 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "SANDSTORM",
                    "menuItemCode" : "reject-user",
                    "title" : "Reject",
                    "menuItemOrder" : 3,
                    "link" : "reject",
                    "icon" : "evo-reject",
                    "selectedFlag" : false
                }
            ]
        }
    ],
    "deletedFlag" : 0,
    "menuGroupCode" : "Administration",
    "title" : "ADMINISTRATION",
    "applicationCode" : "SANDSTORM",
    "tenantId" : "$tenantId",
    "createdBy" : "SYSTEM",
    "menuGroupOrder" : 1,
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "wfInstanceId" : "fgdgf",
    "wfInstanceStatus" : "AUTHORIZED"
},
{
    "menuItems" : [ 
        {
            "menuItemType" : "menu",
            "applicationCode" : "SANDSTORM",
            "menuItemCode" : "bulkUpload",
            "title" : "Bulk Upload",
            "menuItemOrder" : 3,
            "selectedFlag" : false,
            "icon" : "evo-bulkupload",
            "link" : "bulkUpload",
            "subMenuItems" : []
        }
    ],
    "deletedFlag" : 0,
    "menuGroupCode" : "maintenance",
    "title" : "MAINTENANCE",
    "applicationCode" : "SANDSTORM",
    "tenantId" : "$tenantId",
    "createdBy" : "SYSTEM",
    "menuGroupOrder" : 2,
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "wfInstanceId" : "",
    "wfInstanceStatus" : ""
},
{
    "menuItems" : [ 
        {
            "menuItemType" : "menu",
            "applicationCode" : "CHARGES",
            "menuItemCode" : "billing",
            "title" : "Bill Management",
            "menuItemOrder" : 1,
            "link" : "billing",
            "icon" : "evo-charges-billing",
            "selectedFlag" : false,
            "subMenuItems" : [ 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "CHARGES",
                    "menuItemCode" : "approve-bill",
                    "title" : "Approve",
                    "menuItemOrder" : 1,
                    "link" : "approve",
                    "icon" : "evo-approve",
                    "selectedFlag" : false
                }, 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "CHARGES",
                    "menuItemCode" : "update-bill",
                    "title" : "Modify",
                    "menuItemOrder" : 2,
                    "link" : "update",
                    "icon" : "evo-update",
                    "selectedFlag" : false
                }, 
                {
                    "menuItemType" : "button",
                    "applicationCode" : "CHARGES",
                    "menuItemCode" : "reject-bill",
                    "title" : "Reject",
                    "menuItemOrder" : 3,
                    "link" : "reject",
                    "icon" : "evo-reject",
                    "selectedFlag" : false
                }
            ]
        }
    ],
    "deletedFlag" : 0,
    "menuGroupCode" : "Charges",
    "title" : "BILLMANAGEMENT",
    "applicationCode" : "CHARGES",
    "tenantId" : "$tenantId",
    "createdBy" : "SYSTEM",
    "menuGroupOrder" : 1,
    "createdDate" : "$date",
    "lastUpdatedDate" : "$date",
    "wfInstanceId" : "fgdgf",
    "wfInstanceStatus" : "AUTHORIZED"
    }
]